# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [83]:
import pandas as pd # type: ignore
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [84]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [85]:
series = pd.Series(lst)

In [86]:
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [87]:
print(series[2])

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [88]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [89]:
# Create new dict
df = pd.DataFrame(b)

In [90]:
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [91]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [92]:
new_cols = {}

for i, _ in enumerate(b[0]):
  concat_key = "Score_" + str(i + 1)
  new_cols[i] = concat_key

df = df.rename(columns=new_cols)
print(df)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [93]:
my_subset = df.iloc[:, [0, 2, 4]]

In [94]:
print(my_subset)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [95]:
subset_score_3 = df.iloc[:, [2]]
my_average = subset_score_3.mean(axis=0)
print(my_average.values[0])

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [96]:
subset_score_4 = df.iloc[:, [3]]
my_max = subset_score_4.max(axis=0)
print(my_max.values[0])

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [97]:
subset_score_2 = df.iloc[:, [1]]
my_median = subset_score_2.median(axis=0)
print(my_median.values[0])

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [98]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [99]:
prods = pd.DataFrame(orders)

In [100]:
print(prods)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [101]:
total_data = prods.iloc[:, [1, 3]]
my_total = total_data.sum(axis=0)
print(my_total)

Quantity    2978.0
Revenue      637.0
dtype: float64

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [102]:
sorted_prods = prods.sort_values("UnitPrice", ascending=False)

In [103]:
most_exp = sorted_prods["UnitPrice"].iloc[0]
least_exp = sorted_prods["UnitPrice"].iloc[len(sorted_prods) - 1]
diff = most_exp - least_exp

print(diff)

11.77

## Let's load another dataset for more exercisesº

In [104]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [105]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [106]:
admissions.isna()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [107]:
admissions.index = admissions["Serial No."]

In [108]:
print(admissions)

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0
...                ...        ...          ...                ...  ...   ...
381                381        324          110                  3  3.5   3.5
382                382        325          107                  3  3.0   3.5
383                383        330          116                  4  5.0   4.5
384                384        312          103                  3  3.5   4.0
385                385        333          117                  4  5.0   4.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90
...          ...       ...               ...
381         9.04         1              0.82
382         9.11         1              0.84
383         9.45         1              0.91
384         8.78         0              0.67
385         9.66         1              0.95

[385 rows x 9 columns]

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [109]:
gre_unique = admissions['GRE Score'].unique()
print(gre_unique)

cgpa_unique = admissions['CGPA'].unique()
print(cgpa_unique)

[337 316 322 314 330 321 308 302 323 327 328 307 311 317 319 318 303 325
 334 336 298 295 310 300 338 340 331 320 299 304 313 332 326 329 339 312
 324 309 315 301 296 294 306 305 290 335 333 297 293]
[9.65 8.   8.67 8.21 9.34 8.2  7.9  8.6  9.   9.1  8.3  8.7  8.8  8.5
 8.4  9.5  9.7  9.8  7.5  7.2  7.3  8.1  9.4  9.6  9.2  7.8  7.7  9.3
 8.85 7.4  7.6  6.8  8.92 9.02 8.64 9.22 9.16 9.64 9.76 9.45 9.04 8.9
 8.56 8.72 8.22 7.54 7.36 8.02 9.36 8.66 8.42 8.28 8.14 7.92 7.66 8.03
 7.88 7.84 8.96 9.24 8.88 8.46 8.12 8.25 8.47 9.05 8.78 9.18 9.46 9.38
 8.48 8.68 8.34 8.45 8.62 7.46 7.28 8.84 9.56 9.48 8.36 9.32 8.71 9.35
 8.65 9.28 8.77 8.16 9.08 9.12 9.15 9.44 9.92 9.11 8.26 9.43 9.06 8.75
 8.89 8.69 7.86 9.01 8.97 8.33 8.27 7.98 8.04 9.07 9.13 9.23 8.87 8.98
 8.94 9.53 8.76 8.52 8.54 9.91 9.87 7.65 7.89 9.14 9.66 9.78 9.42 9.26
 8.23 8.07 9.31 9.17 9.19 8.37 7.68 8.15 8.73 8.83 8.57 9.68 8.09 8.79
 8.17 7.64 8.01 7.95 8.49 7.87 7.97 8.18 8.32 8.55 8.43 8.53 8.74 8.44
 9.47 8.24 8.13 7.34 7.43 7.25 8.06 7.67 9.54 9.62 7.56 9.74 9.82 7.96]

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [110]:
my_query = admissions.query("CGPA > 9 and Research == 1")
print(len(my_query))

101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [116]:
my_query_2 = admissions.query("CGPA > 9 and SOP < 3.5")
mean_admission = my_query_2.iloc[:, [8]]
my_mean = mean_admission.mean(axis=0)
print(my_mean)

Chance of Admit     0.802
dtype: float64